build --cxxopt="-std=c++17" --copt="-Wno-unknown-warning" --copt="-Wno-unknown-warning-option" --copt="-Wno-error=deprecated-declarations" --copt="-Wno-error=unused-function" --copt="-Wno-error=array-bounds" --copt="-Wno-error=array-parameter" --copt="-Wno-error=pessimizing-move" --copt="-Wno-error=unused-but-set-variable" --copt="-Wno-error=stringop-overflow"

# COPTS = [
# "--std=c++17",
# "-Wno-error=deprecated-declarations",
# "-Wno-error=deprecated-builtins" // not available in GCC
# "-Wno-error=deprecated-non-prototype" // not available in GCC
# "-Wno-error=unused-function",
# "-Wno-error=array-bounds",  # gcc; boringssl
# "-Wno-error=array-parameter",  # gcc; boringssl
# "-Wno-error=pessimizing-move",
# "-Wno-error=unused-but-set-variable",
# "-Wno-error=stringop-overflow",  # gcc; protobuf
# ]
