# Bazel
bazel-*

# CLion
.clwb

# VScode
.vscode

# npm
node_modules/

# JS code coverage
coverage/
dist/

# TS output
tsc-out/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
