name: Tests

on:
  push:
    branches: [master]
  pull_request:

jobs:
  Tests:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, ubuntu-18.04]

    steps:
      - uses: actions/checkout@v2
      - name: Install Bazel - Ubuntu
        run: .github/workflows/scripts/install_ubuntu.sh
        if: ${{ github.matrix.os == 'ubuntu-18.04' }}
      - name: Install Bazel - MacOS
        run: .github/workflows/scripts/install_macos.sh
        if: ${{ github.matrix.os == 'macos-latest' }}
      - name: Run tests
        run: .github/workflows/scripts/run_tests.sh

  Linters:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.x
        uses: actions/setup-go@v2
        with:
          go-version: ^1.13
        id: go
      - uses: actions/checkout@v2
      - name: Lint with clang-format
        run: .github/workflows/scripts/lint_cpp.sh
      - name: Lint with gofmt
        run: .github/workflows/scripts/lint_go.sh
